---
http_interactions:
- request:
    method: get
    uri: https://outright.pagerduty.com/api/v1/incidents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="API_KEY"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"d1b5dee8546d999c78d82cd08b9e7855"'
    body:
      encoding: US-ASCII
      string: ! '{"incidents":[{"id":"PPACGEI","incident_number":336,"created_on":"2012-11-22T05:05:18Z","status":"resolved","html_url":"http://outright.pagerduty.com/incidents/PPACGEI","incident_key":"__TRIGGERED_VIA_EMAIL__","service":{"id":"PGV50ZJ","name":"Pingdom","html_url":"http://outright.pagerduty.com/services/PGV50ZJ"},"assigned_to_user":null,"trigger_summary_data":{"subject":"DOWN
        alert: Thrift (secure.outright.com) is DOWN"},"trigger_details_html_url":"http://outright.pagerduty.com/incidents/PPACGEI/log_entries/PTYKKQ6","last_status_change_on":"2012-11-22T05:15:52Z","last_status_change_by":{"id":"REQUESTER_ID","name":"Trae
        Robrock","email":"trae@outright.com","html_url":"http://outright.pagerduty.com/users/REQUESTER_ID"},"number_of_escalations":1},{"id":"P0M3DH0","incident_number":337,"created_on":"2012-11-24T12:03:45Z","status":"resolved","html_url":"http://outright.pagerduty.com/incidents/P0M3DH0","incident_key":"__TRIGGERED_VIA_EMAIL__","service":{"id":"PGV50ZJ","name":"Pingdom","html_url":"http://outright.pagerduty.com/services/PGV50ZJ"},"assigned_to_user":null,"trigger_summary_data":{"subject":"DOWN
        alert: Thrift (secure.outright.com) is DOWN"},"trigger_details_html_url":"http://outright.pagerduty.com/incidents/P0M3DH0/log_entries/PIHR7C3","last_status_change_on":"2012-11-24T12:25:04Z","last_status_change_by":{"id":"P3859OT","name":"Julio
        Santos","email":"julio@outright.com","html_url":"http://outright.pagerduty.com/users/P3859OT"},"number_of_escalations":0}],"limit":100,"offset":0,"total":2}'
  recorded_at: Tue, 18 Dec 2012 18:33:32 GMT
- request:
    method: get
    uri: https://outright.pagerduty.com/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="API_KEY"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"421a503a66656e436169a5013973b9a3"'
    body:
      encoding: US-ASCII
      string: ! '{"services":[{"id":"POM55DP","name":"Pingdom Aggregation","service_url":"/services/POM55DP","service_key":"aggregation@outright.pagerduty.com","auto_resolve_timeout":14400,"acknowledgement_timeout":600,"created_at":"2012-12-01T13:59:54-08:00","status":"active","last_incident_timestamp":null,"email_incident_creation":"on_new_email_subject","incident_counts":{"triggered":0,"acknowledged":0,"resolved":0,"total":0},"email_filter_mode":"all-email","type":"pingdom"},{"id":"PW7E752","name":"Pingdom
        Application","service_url":"/services/PW7E752","service_key":"application@outright.pagerduty.com","auto_resolve_timeout":14400,"acknowledgement_timeout":600,"created_at":"2012-12-01T13:51:47-08:00","status":"active","last_incident_timestamp":null,"email_incident_creation":"on_new_email_subject","incident_counts":{"triggered":0,"acknowledged":0,"resolved":0,"total":0},"email_filter_mode":"all-email","type":"pingdom"}],"limit":25,"offset":0,"total":2}'
  recorded_at: Tue, 18 Dec 2012 18:52:53 GMT
- request:
    method: get
    uri: https://outright.pagerduty.com/api/v1/maintenance_windows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="API_KEY"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"6919d6c47a3676a76a87c183ec2b1c12"'
    body:
      encoding: US-ASCII
      string: ! '{"maintenance_windows":[],"counts":{"ongoing":0,"future":0,"past":0,"all":0},"limit":25,"offset":0,"total":0}'
  recorded_at: Tue, 18 Dec 2012 21:20:46 GMT
- request:
    method: get
    uri: https://outright.pagerduty.com/api/v1/maintenance_windows?type=future
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="API_KEY"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"16d4bc0e609530a306c4638faa3cea1b"'
    body:
      encoding: US-ASCII
      string: ! '{"maintenance_windows":[{"id":"PW4ICCT","sequence_number":1,"start_time":"2012-12-18T16:00:00-08:00","end_time":"2012-12-18T17:00:00-08:00","description":"testing","created_by":{"id":"REQUESTER_ID","name":"Bob
        Smith","email":"bob@example.com","time_zone":"Pacific Time (US & Canada)","color":"green","role":"admin","avatar_url":"https://secure.gravatar.com/avatar/71c3bbda60a46a241bf9a2d68e41cbec.png?d=mm&r=PG","user_url":"/users/REQUESTER_ID","invitation_sent":false,"marketing_opt_out":false},"services":[{"id":"PZ9VM86","name":"Application","service_url":"/services/PZ9VM86","service_key":"application@outright.pagerduty.com","auto_resolve_timeout":14400,"acknowledgement_timeout":600,"created_at":"2012-03-07T15:44:09-08:00","status":"active","last_incident_timestamp":"2012-12-17T09:11:11-08:00","email_incident_creation":"on_new_email_subject","incident_counts":{"triggered":0,"acknowledged":0,"resolved":166,"total":166},"email_filter_mode":"all-email","type":"generic_email"}]}],"counts":{"ongoing":0,"future":1,"past":0,"all":1},"limit":25,"offset":0,"total":1}'
  recorded_at: Tue, 18 Dec 2012 22:13:46 GMT
- request:
    method: post
    uri: https://outright.pagerduty.com/api/v1/maintenance_windows
    body:
      encoding: UTF-8
      string: ! '{"requester_id":"REQUESTER_ID","maintenance_window":{"start_time":"2012-12-18
        15:53:54 -0800","end_time":"2012-12-18 16:53:54 -0800","service_ids":["POM55DP"]}}'
    headers:
      Authorization:
      - Token token="API_KEY"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - ! '"85f0ed1364f971210f88f800c05731b5"'
    body:
      encoding: US-ASCII
      string: ! '{"maintenance_window":{"id":"PO7EV8B","sequence_number":2,"start_time":"2012-12-18T15:53:55-08:00","end_time":"2012-12-18T16:53:54-08:00","description":null,"created_by":{"id":"REQUESTER_ID","name":"Bob
        Smith","email":"bob@example.com","time_zone":"Pacific Time (US & Canada)","color":"green","role":"admin","avatar_url":"https://secure.gravatar.com/avatar/71c3bbda60a46a241bf9a2d68e41cbec.png?d=mm&r=PG","user_url":"/users/REQUESTER_ID","invitation_sent":false,"marketing_opt_out":false},"services":[{"id":"POM55DP","name":"Application",
        "service_url":"/services/POM55DP","service_key":"application@outright.pagerduty.com","auto_resolve_timeout":14400,"acknowledgement_timeout":600,"created_at":"2012-12-01T13:59:54-08:00","status":"maintenance","last_incident_timestamp":null,"email_incident_creation":"on_new_email_subject","incident_counts":{"triggered":0,"acknowledged":0,"resolved":0,"total":0},"email_filter_mode":"all-email","type":"pingdom"}]}}'
  recorded_at: Tue, 18 Dec 2012 23:53:55 GMT
- request:
    method: delete
    uri: https://outright.pagerduty.com/api/v1/maintenance_windows/PO7EV8B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="API_KEY"
  response:
    status:
      code: 204
      message: 
    headers:
      status:
      - 204 No Content
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 18 Dec 2012 23:53:55 GMT
recorded_with: VCR 2.3.0
